.mainContainer {
	min-height: calc(100vh - 55px) !important;
	height: calc(100vh - 55px) !important;

	position: relative;
	overflow: hidden;
}

@media only screen and (max-width: 600px) {
	.bingoPage {
		overflow: auto;
	}
}
